<ion-content class="pass-container" [fullscreen]="true">
  <ion-grid class="container">
    <ion-row class="container-pass-img">
      <ion-img class="pass-img" src="/assets/icon/lock.svg"></ion-img>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary" [routerLink]="['/authentication/login']">Recuperar senha</ion-button>
            <ion-button expand="block" color="light" [routerLink]="['/authentication/login']">Voltar para login</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
