<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="container">
    <ion-row>
      <div class="ind red">
        <ion-icon class="icon" name="tv-outline"></ion-icon>
        <div class="ind-content">
          <h3>
            Embarcados Cadastrados
          </h3>
          <p>
            52
          </p>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="ind yellow">
        <ion-icon class="icon" name="grid-outline"></ion-icon>
        <div class="ind-content">
          <h3>
            Ambientes Cadastrados
          </h3>
          <p>
            5
          </p>
        </div>
      </div>
    </ion-row>
    <h3>Últimos embarcados</h3>
    <ion-list class="ind-list">
      <ion-item>
        <ion-label>Embarcado 1</ion-label>
        <ion-badge color="primary">11</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Embarcado 2</ion-label>
        <ion-badge color="secondary">11</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Embarcado 3</ion-label>
        <ion-badge color="secondary">11</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Embarcado 4</ion-label>
        <ion-badge color="light">11</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Embarcado 5</ion-label>
        <ion-badge color="secondary">11</ion-badge>
      </ion-item>
    </ion-list>
    <h3>Últimos ambientes</h3>
    <ion-list class="ind-list">
      <ion-item>
        <ion-label>Ambiente 1</ion-label>
        <ion-badge color="secondary">11</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Ambiente 2</ion-label>
        <ion-badge color="primary">11</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Ambiente 3</ion-label>
        <ion-badge color="tertiary">11</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Ambiente 4</ion-label>
        <ion-badge color="primary">11</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Ambiente 5</ion-label>
        <ion-badge color="primary">11</ion-badge>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
