.hydrated {
  width: 100%;
}

.register-container .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 80vw;
}

.register-container .container .container-register-img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.register-container .container .container-register-img .register-img {
  width: 125px;
}
