<ion-content class="container" [fullscreen]="true">
  <ion-row>
    <ion-img src="/assets/icon/register.svg"></ion-img>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nome Completo</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Celular</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-button expand="block" color="primary" [routerLink]="['/pages/home']">Cadastrar</ion-button>
          </ion-item>
          <ion-item lines="none">
            <ion-button expand="block" color="light" [routerLink]="['/authentication/login']">Já possuo uma conta</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
